<form (ngSubmit)="guardarElemento()" [formGroup]="empleadoForm" class="page">
  <div class="page-header">
    <h2 class="title">{{ titulo }}</h2>
  </div>

  <section class="card">
    <div class="grid">
      <!-- Tipo Documento -->
      <div class="field">
        <label class="label">Tipo de documento</label>
         
        <div class="p-inputgroup">
         <span class="p-inputgroup-addon">
            <i class="pi pi-id-card"></i>
          </span>

        <p-dropdown [options]="tipoDocumentos" formControlName="tipoDocumento" optionLabel="tipo"
          placeholder="Seleccionar" styleClass="w-full"></p-dropdown>

        </div>

        <div class="validation" *ngIf="tipoDocumento?.invalid && (tipoDocumento?.dirty || tipoDocumento?.touched)">
          <small *ngIf="tipoDocumento?.errors?.['required']" class="p-error">Tipo Documento es obligatorio</small>
        </div>

      </div>

      <!-- Nro Documento -->
      <div class="field">
        <label class="label">Nro Documento</label>
          
         <div class="p-inputgroup">
         <span class="p-inputgroup-addon">
            <i class="pi pi-address-book"></i>
          </span>
        <input
          id="numDocumento"
          type="text"
          toUpperCase
          formControlName="numDocumento"
          minlength="8"
          maxlength="11"
          pInputText
          class="w-full"
          numbersOnly
          placeholder="Agregar"
        />
        </div>
        <div
          class="validation"
          *ngIf="
            numDocumento?.invalid &&
            (numDocumento?.dirty || numDocumento?.touched)
          "
        >
          <small *ngIf="numDocumento?.errors?.['required']" class="p-error"
            >Nro Documento es obligatorio</small
          >
          <small
            *ngIf="numDocumento?.errors?.['dniInvalido']"
            class="p-error"
            >{{ numDocumento?.errors?.["dniInvalido"] }}</small
          >
          <small *ngIf="numDocumento?.errors?.['ceInvalido']" class="p-error">{{
            numDocumento?.errors?.["ceInvalido"]
          }}</small>
        </div>
      </div>

      <!-- Nombre -->
      <div class="field">
        <label class="label">Nombres</label>

        <div class="p-inputgroup">

          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>

          <input
            type="text"
            toUpperCase
            formControlName="nombres"
            pInputText
            placeholder="Agregar"
          />
        </div>

        <div class="validation" *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
          <small *ngIf="nombres?.errors?.['required']" class="p-error" >Nombre es obligatorio</small>
        </div>

      </div>

      <!-- Apellido -->
      <div class="field">
        <label class="label">Apellidos</label>

         <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>

        <input
          type="text"
          toUpperCase
          formControlName="apellidos"
          pInputText
          class="w-full"
          placeholder="Agregar"
        />
        </div>
        <div
          class="validation"
          *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)"
        >
          <small *ngIf="apellidos?.errors?.['required']" class="p-error"
            >Apellido es obligatorio</small
          >
        </div>
      </div>

      <!-- Dirección -->
      <div class="field">

        
        <label class="label">Dirección</label>

         <div class="p-inputgroup">
         <span class="p-inputgroup-addon">
            <i class="pi pi-building-columns"></i>
          </span>
        <input
          type="text"
          toUpperCase
          formControlName="direccion"
          pInputText
          class="w-full"
          placeholder="Agregar"
        />
        </div>
        <div
          class="validation"
          *ngIf="direccion?.invalid && (direccion?.dirty || direccion?.touched)"
        >
          <small *ngIf="direccion?.errors?.['required']" class="p-error"
            >Dirección es obligatorio</small
          >
        </div>
      </div>

      <!-- Teléfono -->
      <div class="field">
        <label class="label">Teléfono</label>

        <div class="p-inputgroup">
         <span class="p-inputgroup-addon">
            <i class="pi pi-phone"></i>
          </span>
        <input
          id="telefono"
          type="text"
          formControlName="telefono"
          minlength="6"
          maxlength="6"
          pInputText
          class="w-full"
          numbersOnly
          placeholder="Agregar"
        />
        </div>
        <div
          class="validation"
          *ngIf="telefono?.invalid && (telefono?.dirty || telefono?.touched)"
        >
          <small *ngIf="telefono?.errors?.['required']" class="p-error"
            >Teléfono es obligatorio</small
          >
          <small
            *ngIf="
              telefono?.errors?.['minlength'] || telefono?.errors?.['maxlength']
            "
            class="p-error"
          >
            Teléfono debe tener 6 dígitos
          </small>
        </div>
      </div>

      <!-- Celular -->
      <div class="field">
        <label class="label">Celular</label>
          <div class="p-inputgroup">
         <span class="p-inputgroup-addon">
            <i class="pi pi-phone"></i>
          </span>
        <input
          id="celular"
          type="text"
          formControlName="celular"
          minlength="9"
          maxlength="9"
          pInputText
          class="w-full"
          numbersOnly
          placeholder="Agregar"
        />
        </div>
        <div
          class="validation"
          *ngIf="celular?.invalid && (celular?.dirty || celular?.touched)"
        >
          <small *ngIf="celular?.errors?.['required']" class="p-error"
            >Celular es obligatorio</small
          >
          <small *ngIf="celular?.hasError('pattern')" class="p-error">
            El celular debe empezar con 9 y tener un total de 9 dígitos.
          </small>
        </div>
      </div>

      <!-- Cargo -->
      <div class="field">
        <label class="label">Tipo cargo</label>

        <div class="p-inputgroup">
         <span class="p-inputgroup-addon">
            <i class="pi pi-wrench"></i>
          </span>
        <p-dropdown
          [options]="tipoCargos"
          formControlName="cargo"
          optionLabel="tipo"
          placeholder="Seleccionar"
          styleClass="w-full"
        ></p-dropdown>
        </div>

        <div
          class="validation"
          *ngIf="cargo?.invalid && (cargo?.dirty || cargo?.touched)"
        >
          <small *ngIf="cargo?.errors?.['required']" class="p-error"
            >Cargo es obligatorio</small
          >
        </div>
      </div>
    </div>
  </section>

  <div class="actions">
    <app-button
      [label]="'Volver'"
      [router]="'/empleados'"
      [icono]="'pi pi-arrow-left'"
      [estiloBoton]="'p-button-outlined p-button-secondary'"
    ></app-button>

    <app-button
      [label]="'Guardar'"
      [icono]="'pi pi-check'"
      [tipo]="'submit'"
      [isDisabled]="!empleadoForm.valid"
    ></app-button>
  </div>
</form>
