.btn-accion-editar {
  background-color: #1e88e5 !important;
  border-radius: 50% !important;
  color: white !important;
}

.btn-accion-eliminar {
  background-color: #a22c2a !important;
  border-radius: 50% !important;
  color: white !important;
}

