<div class="empleados-header">
  <div class="left">
    <h2>Lista de empleados</h2>

    <app-button
      [label]="'Agregar empleado'"
      [router]="'./mantenimiento-empleado'"
      [icono]="'pi pi-plus'"
    ></app-button>
  </div>
</div>

<section class="container-table">
  <app-table
    *ngIf="isCargado && colsVisibles.length"
    [listaElementos]="listaElementos"
    [columnas]="colsVisibles"
    [filas]="10"
    [isOpcionEliminar]="true"
    [listaElementosAFiltrar]="['numDocumento', 'tipoDocumento','nombre', 'apellido']"
    (eventoAccion)="eventoAccion($event)"
  ></app-table>
</section>
