@mixin estado-base {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin estado($bg-color, $text-color: #212529) {
  @include estado-base;
  background-color: $bg-color;
  color: $text-color;
}

.estadoActivo {
  @include estado(#11b82c, #ffffff);
}

.estadoInactivo {
  @include estado(rgb(255, 51, 51), #ffffff);
}

.estadoAmarillo {
  @include estado(#ffc107);
}

.estadoVerde {
  @include estado(#149629, #ffffff);
}

.estadoAzul {
  @include estado(rgb(34, 57, 133), #ffffff);
}

.estadoRojo {
  @include estado(rgb(255, 51, 51), #ffffff);
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  &__search {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}

.text-right {
  justify-content: right;
}

.tipoPago {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
